:root {
    --colors-foreground-default: rgb(29, 31, 37);
    --colors-background-default: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
    :root {
        --colors-foreground-default: rgb(255, 255, 255);
        --colors-background-default: rgb(17, 18, 21);
    }
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    color: var(--colors-foreground-default);
    background-color: var(--colors-background-default);
    margin: 0;
}
